/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
  background-color: #282c34;
  /* box-shadow: inset 5px 5px blue, inset -5px -5px blue; /* internal border */
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* main {
  display: flex;
  width: 95%;
} */

.webpage-title {
  margin-top: 1em;
  font-size: 2rem;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left-column {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 1em;
  margin-left: 3em;
}

.right-column {
  display: flex;
  flex-direction: column; /* put new things in different rows*/
  flex-grow: 1; /* push header to top */
  justify-content: center; /* horiz */
  align-items: center; /* vert */
  overflow-y: auto; /* footer doesnt get cut */
}

/* --- INSTRUCTIONS --- */
.instructions-title {
  font-size: 2rem;
}

.instructions-list {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  font-size: 1.125rem;
  line-height: 1.5;
}

/* --- GRID8 --- */
.grid8container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.gridnextcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.n_buttons_container {
  display: flex;
  flex-direction: row;
}

.nextbuttons {
  border: 3px solid #999;
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 210%;
  height: 80px;
  text-align: center;
  width: 80px;
}

.s_button {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.s_button_clicked {
  background: orange;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.s_button:hover {
  background-color: grey;
}

.submit_button {
  border-radius: 5px;
  background: #fff;
  border: 5px solid #999;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
}

.submit_button:hover {
  background-color: grey;
}

.grid_label {
  background: #aaa;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

th {
  max-height: 50px;
  min-height: 50px;
  height: 50px;
  width: 50px;
  max-width: 50px;
  min-width: 50px;
  border: 1px solid #999;
}
td {
  height: 50px;
  width: 50px;
}

.downbuttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20%;
  margin: 10px;
}

.startstate {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.referenced-picture-link {
  color: rgb(255, 138, 138);
  text-decoration: none;
}

@media (max-width: 1262px) {
  .webpage-title {
    color: red;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 1262px) and (min-width: 789px) {
  .left-column {
    width: 750px;
    margin-left: 0;
  }
}

@media (max-width: 788px) {
  .webpage-title {
    color: yellow;
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    gap: 2.5em;
  }
  .left-column {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5em;
  }
  .left-column .instructions-title {
    text-align: center;
  }

  .left-column .instructions-list {
    margin: 0 2em;
  }
  .gridnextcontainer {
    flex-direction: column;
  }
  .grid8container {
    margin-right: 0;
  }
  .downbuttons {
    margin: 1em 0;
  }
}
